@model TechTestMVC.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "Customer Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">

    <b>All customers’ first names (comma separated) who are 56.</b>
    <br />
    <p>@Model.Name</p>

</div>


